@reference "tailwindcss/theme.css";

.modal-backdrop {
  @apply fixed  inset-0 flex items-center justify-center z-50 backdrop-blur-sm;
}

.modal-container {
  @apply dark:bg-neutral-900 bg-neutral-100 rounded-2xl px-8 py-6 w-[90%] max-w-md text-black dark:text-white;
  box-shadow:
    -2px -2px 2px rgba(255, 255, 255, 0.3),
    -6px -6px 6px rgba(255, 255, 255, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.6),
    6px 6px 6px rgba(0, 0, 0, 0.3);
}

.modal-title {
  @apply text-xl font-semibold text-center mb-3;
}

.modal-message {
  @apply text-gray-400 text-center mb-4 text-sm;
}

.modal-input {
  @apply w-full px-3 py-2 bg-transparent dark:text-white rounded-lg outline-none dark:border-black border-white focus:border-purple-400  duration-200;
}

.modal-actions {
  @apply flex justify-end gap-2 mt-5;
}

.modal-btn {
  @apply font-medium cursor-pointer transition-all duration-200;
}

.modal-btn.cancel {
  @apply hover:bg-neutral-600/40;
}

.modal-btn.confirm {
  @apply text-blue-600 hover:bg-blue-700/20 disabled:opacity-50 disabled:cursor-not-allowed;
}
